streamlit
streamlit-authenticator
google-cloud-documentai>=2.0.0,<3.0.0
google-cloud-aiplatform
google-cloud-storage>=2.0.0,<3.0.0
google-cloud-firestore
pandas
PyYAML
requests
python-docx
email-validator
fastapi
uvicorn
google-cloud-bigquery>=3.0.0,<4.0.0
google-auth>=2.0.0,<3.0.0
google-auth-oauthlib
pyarrow
functions-framework>=3.0.0