streamlit
streamlit-authenticator
google-cloud-documentai
google-cloud-aiplatform
google-cloud-storage
google-cloud-firestore
pandas
PyYAML
requests
python-docx
email-validator
fastapi
uvicorn
google-cloud-bigquery
google-auth
google-auth-oauthlib
pyarrow